{% extends "AppTienda/inicio.html" %}

{% load static %}

{% block titulo %}

Acerca de nosotros

{% endblock %}


{% block encabezado %}
<h1>Conocenos
        </h1>
{% endblock %}

{% block encabezado2 %}
{% endblock %}

{% block encabezado3 %}
<div class="row1 gx-5 align-items-center">
 La Flojosa Records Store es un proyecto creado por: <b style="color: #FF6A00">Florencia Chirino, Sabrina Barrionuevo y Joan Villa Peralta</b> para el curso de Coderhouse "Python". 
<br>Es una web de tipo tienda especializada en discos de vinilo con elementos de una página estilo blog, como la presencia de artículos, usuarios, un sistema de búsqueda,etc.
<br>Somos un equipo de trabajo IRL y nos anotamos al curso juntos con el objetivo de aprender nuestro primer lenguaje de programación.
Trabajamos de manera cooperativa tanto presencialmente como por medio de videollamadas para combinar nuestras ideas. 
</div>
{% endblock %}

{% block blog %}
{% endblock %}
